[user]
    name = Owen Coutts
    email = owenc@fb.com
[color]
    ui = true
[core]
    excludesfile = ~/.global-gitignore
    editor = vim
[alias]
    st = status
    co = checkout
    re = commit --amend --no-edit
